aside {
  width: 110px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

.aside-wrapper {
  width: 110px;
  background: radial-gradient(
    1250px at 0% 2.1%,
    rgb(113, 147, 169) 0.3%,
    rgb(190, 159, 200) 100%
  );
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

.navbuttons {
  background-image: linear-gradient(
    to right,
    rgb(190, 159, 200),
    rgb(113, 147, 185)
  );
  padding: 30px 0px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* border-style: solid;
  border-width: thin;
  border-color: black; */
  border-bottom: 2px solid black;
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}

button {
  background-image: linear-gradient(
    to right,
    rgb(190, 159, 200),
    rgb(113, 147, 185)
  );
  padding: 30px 0px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* border-style: solid;
  border-width: thin;
  border-color: black; */
  border-bottom: 2px solid black;
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}
button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.navbuttons-active {
  background-image: linear-gradient(
    to right,
    rgb(190, 159, 200),
    rgb(113, 147, 185)
  );
  background-position: right center;
  padding: 30px 0px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  /* border-style: solid;
  border-width: thin;
  border-color: black; */
  border-bottom: 2px solid black;
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}
.navbuttons:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#logo-span {
  height: 0;
  border: 0;
  padding: 20;
}
#logo-img {
  height: 50px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
